<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyDox" version="2.0.34" targetFramework="net472" />
  <package id="EasyDox.Morpher" version="2.0.30" targetFramework="net472" />
  <package id="Morpher.API" version="1.0.9" targetFramework="net472" />
  <package id="Morpher.Russian.Basics" version="0.0.6" targetFramework="net472" />
  <package id="Oracle.DataAccess.x86" version="2.112.1.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="19.3.1" targetFramework="net472" />
</packages>